.roxo{
    color: #993399;
}
.azul{
    color: #2941AB;
}
.verde{
    color: #1ED760;
}

/* links */
img: https://raw.githubusercontent.com/suporteb7web/0522-estagiowebdev/main/assets/tenis.png
logo: https://raw.githubusercontent.com/suporteb7web/0522-estagiowebdev/main/assets/spotify_logo.png
bg: https://raw.githubusercontent.com/suporteb7web/0522-estagiowebdev/main/assets/bg.png
